.PageHomeStyle{
  position: relative;
  width: 60%;
  top: 0px;
  left: 60px;
  border: 1px solid black;
  background-color: black;
}

.ControlVolumContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.FullStyle{
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: black;
}

.controlStyle:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.controlStyle{
  transition: 0.3s;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  padding: 3px ;
  opacity: 0;
}
.TitleStyle h3{
  width: 60%;
  text-align: center;
  padding-top: 10px;
}
.controlStyle section{
  padding: 20px;
  width: 100%;
  background-color: transparent;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controlStyle button{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.controlStyle input{
  width: 60%;
  cursor: pointer;
}
.controlStyle option{
  width: 50px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}
.controlStyle select{
  width: 60px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.controlInputStyle{
  width: 60%;
  outline: none;
  border-radius: 15px;
  height: 7px;

}
@media screen and (max-width: 900px){
  .PageHomeStyle{
    text-align: center;
  }
  .PageHomeStyle{
    width: 85%;
  }
}
@media screen and (max-width: 500px){
  .PageHomeStyle, .FullStyle{
    position: relative;
    width: 100%;
    top: -60px;
    left: 0;
    right: 0;
  }
  .PageHomeStyle svg{
    size: 0.8rem;
  }
  .controlStyle section{
    padding: 3px;
  }
  .controlStyle select{
    width: 40px;
    font-size: 12px;
  }
  .controlStyle option{
    width: 20px;
    font-size: 12px;
  }

}

